* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
}
h2   {
    color: #222;
    font-size: 96px;
    /*转大写*/
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
}
h2 span {
    /*动画过度*/
    transition: 0.5s;
}
h2:hover span:nth-child(1) {
    margin-right: 10px;
}
h2:hover span:nth-child(1)::after {
  content: "'";
}
h2:hover span:nth-child(2) {
    margin-right: 40px;
}
h2:hover span:nth-child(1), h2:hover span:nth-child(3){
   color: #fff;
    text-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 40px #fff,0 0 80px #fff,0 0 120px #fff,0 0 160px #fff;
}
